<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head> 

<!-- Barra de Navegação --> 
<% if (showHeader) { %>
  <%- include('partials/header') %>
<% } %>

<body>
  <% if (mensagemErro) { %>
    <p class="erro"><%= mensagemErro %></p>
  <% } %>
  <%- body %> <!-- Conteúdo das outras views -->
</body>

<!-- Rodapé -->
 <%- include('partials/footer') %>

</html>