<main class="main-content">
  <section class="cadastro-section">
    <h2>Crie sua Conta</h2>
  
    <% if (mensagemErro) { %>
      <p class="erro"><%= mensagemErro %></p>
    <% } %>
    
    <p class="campo-obrigatorio">* Obrigatório</p>
    <form id="cadastroForm" action="/sign_up" method="POST">
      <label class="label-cadastro" for="nome">Nome completo<span class="campo-obrigatorio">*</span></label>
      <input type="text" name="nome" placeholder="ex.: Fulano da Silva" required>
      <label class="label-cadastro" for="usuario">Usuário<span class="campo-obrigatorio">*</span></label>
      <input type="text" name="usuario" placeholder="ex.: autor_lendario" required>
      <label class="label-cadastro" for="email">E-mail<span class="campo-obrigatorio">*</span></label>
      <input type="email" name="email" placeholder="ex.: autorlendario@gmail.com" required>
      <label class="label-cadastro" for="confirmEmail">Confirmar E-mail<span class="campo-obrigatorio">*</span></label>
      <input type="email" name="confirmEmail" placeholder="ex.: autorlendario@gmail.com" required>
      <label class="label-cadastro" for="dataNascimento">Data de Nascimento<span class="campo-obrigatorio">*</span></label>
      <input type="date" name="dataNascimento" required>

      <label class="label-cadastro" for="generos">Gêneros Preferidos</label>
      <!--p class="descricao-generos">Selecione os gêneros que mais gosta. Você pode escolher mais de um.</p-->     
      <div class="generos-container">
        <div id="generos-select" class="generos-select" tabindex="0">
          Selecione os gêneros... <span class="icon-select">▼</span>
        </div>
        <div id="generos-options" class="generos-options hidden">
          <% generos.forEach(genero => { %>
            <div class="option">
              <input
                type="checkbox" 
                name="preferenciasGenero" 
                value="<%= genero.nome %>" 
                id="gen-<%= genero.nome.toLowerCase().replace(/\s+/g, '-') %>"                
              >
              <label for="gen-<%= genero.nome.toLowerCase().replace(/\s+/g, '-') %>">
                <%= genero.nome %>
              </label>
            </div>
          <% }) %>
        </div>
      </div>
      
      <label class="label-cadastro" for="senha">Senha<span class="campo-obrigatorio">*</span></label>
      <div class="senha-container">
        <input type="password" name="senha" placeholder="mín.: 8 caracteres" required>
        <span class="icon-show-password" onclick="toggleSenha('senha', this)"><img src="/icons/eye-icon-closed.png" alt="Mostrar Senha"></span>
      </div>

      <label class="label-cadastro" for="confirmSenha">Confirmar Senha<span class="campo-obrigatorio">*</span></label>
      <div class="senha-container">
        <input type="password" name="confirmSenha" placeholder="mín.: 8 caracteres" required>
        <span class="icon-show-password" onclick="toggleSenha('confirmSenha', this)"><img src="/icons/eye-icon-closed.png" alt="Mostrar Senha"></span>
      </div>

      <button type="submit" class="btn-cadastrar">Cadastrar</button>
    </form>
    <p class="possuir-conta">Já possui conta? <a href="/login">Entrar</a></p>
  </section>
</main>
<script src="/javascripts/sign_up_form.js"></script>